doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="minimum-scale=1.0, target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title title here
        link(rel="stylesheet" href="css/select2.min.css")
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="css/datepicker.min.css")
    body
        header.main-header.main-header--admin
            .main-header__logo
                a(href="#")
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="10" width="6" height="25" fill="white"/>
                        <rect y="15" width="6" height="25" transform="rotate(-90 0 15)" fill="white"/>
                    </svg>
                    span Медицина
            nav.main-nav
                ul.main-nav__list
                    li
                        a(href="#") Сдача анализов
                    li
                        a(href="#") Результаты анализов
                .main-nav__search
                    input(type="text" name="search" placeholder="Search for a mail")
                .main-nav__avatar.avatar
                    .avatar__name
                        span.avatar__title Иванович М.С.
                        span.avatar__subtitle Врач-терапевт
                    .avatar__picture
                        img(src="" alt="")
        main
            aside.sidebar.sidebar--admin
                .sidebar__nav
                    ul.sidebar__list
                        li
                            a.active Пользователи
                        li
                            a(href="adm-pacients.html") Пациенты
                        li
                            a(href="#") Больницы
                        li
                            a(href="#") Риски
                        li
                            a(href="#") Анализы
                        li
                            a(href="#") Полиморфизмы
                        li
                            a(href="#") Диагнозы
                        li
                            a(href="#") Геоположение
                        li
                            a(href="#") Ед. измерения
                        li
                            a(href="#") Периоды
                        li
                            a.active Пользователи
                        li
                            a(href="adm-pacients.html") Пациенты
                        li
                            a(href="#") Больницы
                        li
                            a(href="#") Риски
                        li
                            a(href="#") Анализы
                        li
                            a(href="#") Полиморфизмы
                        li
                            a(href="#") Диагнозы
                        li
                            a(href="#") Геоположение
                        li
                            a(href="#") Ед. измерения
                        li
                            a(href="#") Периоды
            .sidebar__show(hidden).active
                .picture
                    img(src="images/open-bar.svg" alt="")

            .content-wrapper
                h1 Новая роль
                form(name='role' method='post')
                    #role
                        .form-group
                            label.required(for='role_name') Название
                            input#role_name.form-control(type='text' name='role[name]' required='required' maxlength='50')
                        .form-group
                            label.required(for='role_tech_name') Техническое название
                            input#role_tech_name.text-lowercase.form-control(type='text' name='role[tech_name]' required='required')
                        .form-group
                            label(for='role_description') Описание
                            textarea#role_description.form-control(name='role[description]' rows="8")                 
                        .form-group
                            .form-check
                                input#role_enabled.form-check-input(type='checkbox' name='role[enabled]' value='1')
                                label.form-check-label(for='role_enabled') Включено
                        input#role__token(type='hidden' name='role[_token]' value='8RXP1MQp9Ej5QTGBvNdzCMg5H_I04bUPX3Dos4p0WhM')
                    button.btn Сохранить
                a(href='/admin/role/') Назад


    script(src="js/jquery-3.4.1.min.js")
    script(src="js/datepicker.min.js")
    script(src="js/select2.min.js")
    script(src="js/main.js")