.breadcrumbs
    a(href="").prev Назад
    ul.breadcrumbs__list
        li
            a(href="index.html") Главная
        li
            span /
        li
            a(href="") Анализы
        li
            span /
        li.current
            a История