.pacient-footer
    ul
        li
            a(href="").pacient-footer__link.pacient-footer__link--home.active
        li
            a(href="").pacient-footer__link.pacient-footer__link--document
        li
            a(href="").pacient-footer__link.pacient-footer__link--chat
        li
            a(href="").pacient-footer__link.pacient-footer__link--calendar
        li
            a(href="").pacient-footer__link.pacient-footer__link--title