.pagination
    a.item(href="#") Предыдущая
    a.item.active(href="") 1
    a.item(href="#") 2
    a.item(href="#") 3
    a.item(href="#") 4
    span.item ...
    a.item(href="#") Следующая
    .clearfix