script(src="js/jquery-3.4.1.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js")
script(src="js/init-chart.js")
script(src="js/datepicker.min.js")
script(src="js/select2.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/main.js")