.main-button {
    background-color: #1d84ef;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background-color: #34aff9;
    }
    &:active {
        background-color: #1962ad;
    }
    &.disabled {
        background-color: #c2cfe0;
    }
}

.second-button {
    &--green {
        cursor: pointer;
        border: 1px solid $color-green;
        border-radius: 6px;
        background-color: transparent;
        color: $color-green;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 20px;
    }
}

.table-button {
    background-color: #fff;
    border: 1px solid #047df6;
    font-size: 12px;
    color: #047df6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 20px;
    &:hover {
        border: 1px solid #34aff9;
        color: #34aff9;
    }
    &:active {
        border: 1px solid #1962ad;
        color: #1962ad;
    }
    &.disabled {
        border: 1px solid #c2cfe0;
        color: #c2cfe0;
    }
}

.buttons {
    display: flex;
    .btn {
        position: relative;
        margin-right: 25px;
        line-height: 48px;
        max-width: 232px;
        flex: 1 0 232px;
        margin-bottom: 25px;
        font-weight: 500;
        border: 2px solid #1b87f4;
        background-color: transparent;
        border-radius: 6px;
        color: #1b87f4;
        outline: none;
        &--delete {
            background-color: #1b87f4;
            color: #ffffff;
        }
        &--add {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                background-image: url("../images/plus.svg");
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
            }
        }
        &:active {
            outline: none;
        }
    }
    ul.sublist {
        display: none;
        flex-direction: column;
        position: absolute;
        line-height: 1;
        top: calc(100% + 4px);
        left: 0;
        width: 100%;
        border-radius: 6px;
        border-width: 0;
        box-shadow: 0px 5px 20px rgba(211, 223, 236, 0.42);
        outline: 0;
        &:active {
            outline: none;
        }
        li.sublist__item {
            display: flex;
            justify-content: center;
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            height: 60px;
            margin-bottom: 0;
            a,
            span {
                margin-bottom: 0;
                text-align: left;
                padding: 0 25px;
                text-decoration: none;
                color:#333333;
                height: 100%;
                display: flex;
                align-items: center;
            }
            &:hover {
                background-color: #1b87f4;
                color: #ffffff;
                a {
                    color:#ffffff;
                }
            }
        }
    }
}
