/*
    Регулировка отступа в медицинской
    документации при просмотре истории
    болезни пациента
*/
.statement__info-block p {
    margin-bottom: 5px;
}

/*
   Используется на странице просмотра
   истории болезни пациента в кабинете
   врача на ссылках для внесения данных
*/
.statement__head a.back-page {
    text-decoration: none;
}

/*
    Не нашел, где используется
*/
.sorting,
.sorting_desc,
.sorting_asc {
    cursor: pointer;
}

/*
    Используется, например,
    на странице Список пациентов
    для h1 заголовка
*/
.content-wrapper__top h1 {
    margin-bottom: 30px;
}

/*
    Скрывает поиск по умолчанию у плагина отображения таблиц
*/
#datatable .dataTables_filter {
    display: none;
}

/*
    Вывод кол-во уведомлений в меню sidebar
*/
.notificationNumber {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px 1px 3px;
    font-size: 16px;
    margin-left: 15px;

    display: flex;
    align-self: center;
    height: 20px;
}

/*
    Убирает баг в кабинете врача, чтобы меню не отодвигалась на полстраницы
*/
.sidebar__sublist {
    margin-top: 0;
    margin-bottom: 0;
}

/*
    Делает линки в саблисте жирными
*/
.sublist > a {
    font-weight: bold;
}

/*
    НАЧАЛО - Выпадающая кнопка выйти в профиле врача
*/
.dropdown {
    margin-top: 15px;
    cursor: pointer;
}

.dropdown-content {
    margin-left: 40px;
    margin-top: 17px;
    display: none;
    background-color: #1962ad;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #256ab1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*
    КОНЕЦ - Выпадающая кнопка выйти в профиле врача
*/

/*
    НАЧАЛО - Стили отображения строки поиска в main-nav
*/
.searchBox {
    width: 140px;
    cursor: pointer;
}

.searchBox:focus {
    width: 100%;
    cursor: text;
    outline: none;
}

/*
    КОНЕЦ - Стили отображения строки поиска в main-nav
*/

/*
    Отвечает за скрытие роли авторизованного пользователя в main-nav
*/
a.document-link {
    color: #3796f6;
    cursor: pointer;
    font-size: 16px;
}

p.document-link {
    padding-bottom: 20px;
}

@media (max-width: 1245px) {
    .avatar__subtitle {
        display: none;
    }
}
