.pacient-aside {
    // height: 100%;
    // min-height: 100vh;
    background-color: $color-green;
    display: flex;
    flex-direction: column;
    flex: 1 0 237px;
    max-width: 237px;
    padding-top: 30px;
    .main-header__logo {
        max-width: 130px;
        width: 100%;
        align-self: center;
        margin-bottom: 50px;
        a {
            margin-right: 0;
        }
        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }
    .pacient-aside__info {
        display: flex;
        flex-direction: column;
    }
    .pacient-aside__picture {
        position: relative;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        background-color: #000;
        align-self: center;
        margin-bottom: 15px;
        @media (max-width: 768px) {
            width: 41px;
            height: 41px;
            margin-bottom: 0;
            &::before {
                content: "";
                position: absolute;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: #fff;
                background-image: url("../images/pencil.svg");
                background-size: 6px auto;
                background-repeat: no-repeat;
                background-position: center;
                right: 0;
                bottom: 0;
            }
        }
    }
    .pacient-aside__name {
        text-align: center;
        margin-bottom: 60px;
        color: #ffffff;
        font-size: 16px;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .pacient-aside__nav {
        li {
            display: flex;
            &:hover,
            &.active {
                background-color: rgba(255, 255, 255, 0.18);
            }
        }
        a {
            padding-left: 60px;
            line-height: 60px;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            width: 100%;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    @media (max-width: 768px) {
        justify-content: space-between;
        flex-direction: row;
        flex: 0;
        padding-left: 15px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 100%;
        min-height: auto;
    }
}
