.pacient-forum__message-wrapper {
    display: flex;
}

.pacient-forum__message {
    background-color: #fff;
    border: 1px solid rgba(239, 242, 245, 0.68);
    box-shadow: 0px 5px 20px rgba(211, 223, 236, 0.42);
    border-radius: 6px;
    display: flex;
    position: relative;
    padding: 30px 40px;
    margin-bottom: 20px;
    max-width: 573px;
    width: 100%;
    h3 {
        font-weight: 700;
        font-size: 16px;
        color: #333333;
        margin-bottom: 10px;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        color: #333333;
    }
    @media (max-width: 768px) {
        padding: 30px;
    }
}

.pacient-forum__picture {
    flex-basis: 47px;
    max-width: 47px;
    min-width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: $color-green;
    margin-right: 12px;
}

.pacient-forum__time {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
}

.pacient-forum__message-wrapper-pacient {
    justify-content: flex-end;
}

.pacient-forum__message-wrapper-doctor {
    justify-content: flex-start;
}

.pacient-forum__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fffbf0;
    height: 100%;
}