.pacient-content-date {
    position: relative;
    grid-area: element-grid6;
    // padding-bottom: 150px;
    padding-bottom: 100px;
    .datepicker {
        // width: 100%;
        border: none;
    }
    .datepicker--cell-day {
        // height: auto;
    }
    .datepicker--nav-title,
    .datepicker--nav-title i {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
        font-family: $font-mont;
    }
    .datepicker--cell.datepicker--cell-day.-focus- {
        background-color: $color-green;
    }
    .datepicker--cell.-current- {
        position: relative;
        color: #fff;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color-green;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    .datepicker--cell.-exam- {
        border-radius: 50%;
        border: 1px solid #ffb800;
        color: inherit;
    }
    .datepicker--cells {
        display: flex;
        flex-wrap: wrap;
    }
    .datepicker--cell-day {
        width: calc(100% / 7);
        color: #333;
        font-size: 14px;
    }
    .datepicker--day-name {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
    @media (max-width: 600px) {
    }
}

.pacient-content-date__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 0;
    padding-right: 30px;
    padding-bottom: 20px;
    span {
        padding-left: 30px;
        position: relative;
        margin-left: 10px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 21px;
            height: 21px;
            border-radius: 50%;
        }
    }
    @media (max-width: 600px) {
        flex-direction: column;
    }
}
.pacient-content-date__footer-col {
    display: flex;
    @media (max-width: 600px) {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.pacient-content-date__footer-col:nth-child(1) {
    span::before {
        border: 1px solid #ffb800;
    }
}
.pacient-content-date__footer-col:nth-child(2) {
    span::before {
        border: 1px solid $color-green;
        background-color: $color-green;
    }
}
