.pacient-content {
    padding: 40px 60px;
    flex: 0 1 auto;
    width: 100%;
    background: #fffbf0;
    display: flex;
    flex-direction: column;
    margin-left: 237px;
    &--mode {
        background-color: #fafbfc;
    }
    @media (max-width: 1023px) {
        margin-left: 50px;
    }
    @media (max-width: 768px) {
        padding: 30px 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

.pacient-content__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(140px, auto);
    grid-gap: 20px;
    margin-bottom: 37px;
    grid-template-areas:
        "element-grid1 element-grid1 element-grid1"
        "element-grid2 element-grid6 element-grid3"
        "element-grid2 element-grid6 element-grid4"
        "element-grid2 element-grid6 element-grid5"
        "element-grid7 element-grid7 element-grid7";
    @media (max-width: 1365px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "element-grid1 element-grid1"
            "element-grid2 element-grid3"
            "element-grid4 element-grid5"
            "element-grid6 element-grid7";
    }
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
}

.pacient-content__title-name {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.pacient-content__title-label {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.pacient-content__title-date {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.pacient-content__header-col {
    width: 50%;
    &:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        .main-button {
            margin-left: 40px;
            @media (max-width: 768px) {
                margin-left: 0;
            }
        }
        @media (max-width: 768px) {
            justify-content: flex-start;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 30px;
    }
}
.pacient-content__header-col--mode {
    .second-button {
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.pacient-content__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    h3 {
        font-weight: 400;
        font-size: 20px;
        @media (max-width: 768px) {
            margin-bottom: 45px;
        }
    }
    .main-button.main-button--green {
        background-color: $color-green;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.pacient-content__recomendation {
    grid-area: element-grid1;
    background-color: #fff;
    padding: 30px 50px;
    border-left: 16px solid $color-green;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(211, 223, 236, 0.42);
    @media (max-width: 768px) {
        padding: 25px;
    }
}

.pacient-content__col:nth-child(2) {
    a {
        color: $color-green;
        border: 1px solid $color-green;
        font-size: 16px;
        font-weight: 600;
        border-radius: 6px;
        padding: 10px 30px;
        display: block;
        text-decoration: none;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.pacient-content__recomendation {
    ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        li {
            width: calc(100% / 3 - 50px);
            display: flex;
            flex-direction: column;
            p {
                font-size: 16px;
                font-weight: 700;
                @media (max-width: 768px) {
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }
            span {
                opacity: 0.6;
                margin-bottom: 10px;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.pacient-content__name-doctor {
    opacity: 0.6;
}

.pacient-content__notification {
    grid-area: element-grid2;
    background-color: #fff;
    padding: 19px 50px;
    box-shadow: 0px 5px 20px rgba(211, 223, 236, 0.42);
    border-left: 16px solid #fcd571;
    border-radius: 6px;
    h3 {
        font-size: 24px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
