.select2-container--default .select2-selection--single {
    border: none;
    border-bottom: 1px solid #d3d8dd;
    border-radius: 0;
    background-color: #fcfcfc;
    border: 1px solid #ececec;
    border-radius: 6px;
}

.select2-container--default .select2-selection--single[aria-expanded="true"] {
    border-bottom: 2px solid #047df6;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $color-black;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #aeaeae transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #047df6 transparent;
}
