doctype html
html(lang="ru-RU")
	head
		include modules/head.pug
	body
		header.main-header.main-header--admin
			.main-header__logo
				a(href="#")
					<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="10" width="6" height="25" fill="white"/>
						<rect y="15" width="6" height="25" transform="rotate(-90 0 15)" fill="white"/>
					</svg>
					span Медицина
			nav.main-nav
				ul.main-nav__list
					li
						a(href="#") Сдача анализов
					li
						a(href="#") Результаты анализов
				.main-nav__search
					input(type="text" name="search" placeholder="Search for a mail")
				.main-nav__avatar.avatar
					.avatar__name
						span.avatar__title Иванович М.С.
						span.avatar__subtitle Врач-терапевт
					.avatar__picture
						img(src="" alt="")
		main
			aside.sidebar.sidebar--admin
				.sidebar__nav
					ul.sidebar__list
						li
							a.active Пользователи
						li
							a(href="adm-pacients.html") Пациенты
						li
							a(href="#") Больницы
						li
							a(href="#") Риски
						li
							a(href="#") Анализы
						li
							a(href="#") Полиморфизмы
						li
							a(href="#") Диагнозы
						li
							a(href="#") Геоположение
						li
							a(href="#") Ед. измерения
						li
							a(href="#") Периоды
						li
							a.active Пользователи
						li
							a(href="adm-pacients.html") Пациенты
						li
							a(href="#") Больницы
						li
							a(href="#") Риски
						li
							a(href="#") Анализы
						li
							a(href="#") Полиморфизмы
						li
							a(href="#") Диагнозы
						li
							a(href="#") Геоположение
						li
							a(href="#") Ед. измерения
						li
							a(href="#") Периоды
			.sidebar__show(hidden).active
				.picture
					img(src="images/open-bar.svg" alt="")

			.content-wrapper
				//- tabs
				.tabs
					//- tabs__caption
					ul.content-wrapper__nav.tabs__caption
						.content-wrapper__nav-inner
							span Показать записей
							select.js-example-basic-single
								option 50
								option 50
								option 50
						//- tabs_content
						.content-wrapper__select
							button.main-button#btn-add-pacient Добавить пациента
					.table-wrapper.table-pacients.tabs__content.active
						table
							thead
								tr
									th Id
									th Email
									th Роль
									th ФИО
									th Пароль
									th Комент
									th Телефон
									th.vertical Включен
									th Операции
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox1(type="checkbox")
									label(for="checkbox1")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox2(type="checkbox")
									label(for="checkbox2")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox3(type="checkbox")
									label(for="checkbox3")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox4(type="checkbox")
									label(for="checkbox4")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox5(type="checkbox")
									label(for="checkbox5")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox6(type="checkbox")
									label(for="checkbox6")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox7(type="checkbox")
									label(for="checkbox7")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox8(type="checkbox")
									label(for="checkbox8")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox9(type="checkbox")
									label(for="checkbox9")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")
							tr
								th 1
								th 123-556-345-33
								th 1234567890
								th Иванова Ивана С.
								th 13.05.1998
								th 13.05.2020
								th 79191323439
								th.table-wrapper__input
									input#checkbox10(type="checkbox")
									label(for="checkbox10")
								th.table-wrapper__operation-icons
									span
										a(href="history.html")
											img(src="images/operation-icon-1.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-2.svg" alt="")
									span
										a(href="#")
											img(src="images/operation-icon-3.svg" alt="")

				include modules/pagination.pug
				//- Анкета пациента
				.popup#profile-popup
					.popup__wrapper
						h2.title Анкета пациента
						.popup__inner
							form(action="get")
								p.popup__row
									span.label Больницы
									select(name="state").js-example-basic-single
										option Выберите больницу
										option Больница 1
										option Больница 2
										option Больница 3
								p.popup__row
									span.label Пациент
									select.js-example-basic-single 
										option Выберите пациента
										option Пациент 1
										option Пациент 2
										option Пациент 3
								p.popup__row.popup__row--mode
									input(type="checkbox" value="Добавить нового")#add-new.style-check
									label(for="add-new").style-check Добавить нового
								p.popup__row
									span.label ФИО
									input(type="text" placeholder="Фамилия Имя Отчество" name="name")
								.button.main-button#btn-next1 Далее

				//- Общие данные
				.popup#general-popup
					.popup__wrapper
						h2.title Общие данные
						.popup__inner
							form(action="get")
								p.popup__row
									span.label ФИО
									input(type="text" placeholder="Фамилия Имя Отчество" name="name")
								p.popup__row
									span.label Дата рождения
									input(type="text" value="13.05.1998").js-datepicker
								p.popup__row
									span.label Адрес проживания
									input(type="text" value="Адрес проживания")
								p.popup__row
									span.label Прикрепение к женской консультации
									select.js-example-basic-single
										option Выберите консультацию
										option Консультация 1
										option Консультация 2
										option Консультация 3
								p.popup__row
									span.label Телефон
									input(type="text" value="телефон")
								p.popup__row
									span.label СНИЛС
									input(type="text" value="Снилс")
								p.popup__row
									span.label Паспорт
									input(type="text" value="паспорт")
								p.popup__row
									span.label Email
									input(type="email" value="email")
								p.popup__row
									span.label Дата начала наблюдения
									input(type="text" value="13.05.1998").js-datepicker
								p.popup__row
									span.label Комментарий
									input(type="text" value="комментарий")
								.button.main-button#btn-next2 Далее

				//-данные по беременности
				.popup#gestation-popup
					.popup__wrapper
						h2.title Данные по беременности
						.popup__inner
							form(action="get")
								p.popup__row
									span.label Беременность по счету
									input(type="text" placeholder="2" value="Беременность по счету")
								p.popup__row
									span.label Рсчетный срок беременности
									input(type="text" value="13.05.2020").js-datepicker
								p.popup__row
									label(for="gestation-check-1").radio
										input(type="radio" id="gestation-check-1" name="gestation-name-1" value="нормальные роды")
										span.radio-text Нормальные роды
									label(for="gestation-check-2").radio
										input(type="radio" id="gestation-check-2" name="gestation-name-1" value="наличие выкидышей")
										span.radio-text Наличие выкидышей
								p.popup__row
									span.label Количество
									input(type="text" placeholder="2" value="Количество")
								p.popup__row
									span.label Сроки
									input(type="text" value="13.05.2020").js-datepicker
								p.popup__row
									label(for="gestation-check-3").radio
										input(type="radio" id="gestation-check-3" name="gestation-name-2" value="Наличие замерших")
										span.radio-text Наличие замерших
									label(for="gestation-check-4").radio
										input(type="radio" id="gestation-check-4" name="gestation-name-2" value="Наличие мертворожденных")
										span.radio-text Наличие мертворожденных
									label(for="gestation-check-5").radio
										input(type="radio" id="gestation-check-5" name="gestation-name-2" value="Тяжелая преэклампсия")
										span.radio-text Тяжелая преэклампсия
									label(for="gestation-check-6").radio
										input(type="radio" id="gestation-check-6" name="gestation-name-2" value="HELLP-синдром")
										span.radio-text HELLP-синдром
									label(for="gestation-check-7").radio
										input(type="radio" id="gestation-check-7" name="gestation-name-2" value="ВТЭО в анамнезе")
										span.radio-text ВТЭО в анамнезе
								p.popup__row
									span.label Вес
									input(type="text" placeholder="79" value="вес")
								p.popup__row
									span.label Вес
									input(type="text" placeholder="169" value="вес")
								p.popup__row
									span.label ИМТ
									input(type="text" placeholder="80%" value="вес")
								.button.main-button#btn-next3 Далее

				//-данные по мутации
				.popup#mutation-popup
					.popup__wrapper
						h2.title Полиморфизмы/мутации
						.popup__inner
							form(action="get")
								p.popup__row
									label(for="gestation-check-8").radio
										input(type="checkbox" id="gestation-check-8" name="gestation-name-3" value="MTHFR 677 CT")
										span.radio-text MTHFR 677 CT
									label(for="gestation-check-9").radio
										input(type="checkbox" id="gestation-check-9" name="gestation-name-3" value="MTHFR 677 ТT")
										span.radio-text MTHFR 677 ТT
									label(for="gestation-check-10").radio
										input(type="checkbox" id="gestation-check-10" name="gestation-name-3" value="MTHFR 1298 АC")
										span.radio-text MTHFR 1298 АC  
									label(for="gestation-check-11").radio
										input(type="checkbox" id="gestation-check-11" name="gestation-name-3" value="MTHFR 1298 СC")
										span.radio-text MTHFR 1298 СC
									label(for="gestation-check-12").radio
										input(type="checkbox" id="gestation-check-12" name="gestation-name-3" value="MTRR 66 AG")
										span.radio-text MTRR 66 AG
									label(for="gestation-check-13").radio
										input(type="checkbox" id="gestation-check-13" name="gestation-name-3" value="MTRR 66 GG")
										span.radio-text MTRR 66 GG
									label(for="gestation-check-14").radio
										input(type="checkbox" id="gestation-check-14" name="gestation-name-3" value="PAI-1: -675 5G4G")
										span.radio-text PAI-1: -675 5G4G
									label(for="gestation-check-15").radio
										input(type="checkbox" id="gestation-check-15" name="gestation-name-3" value="PAI-1: -675 4G4G")
										span.radio-text PAI-1: -675 4G4G
									label(for="gestation-check-16").radio
										input(type="checkbox" id="gestation-check-16" name="gestation-name-3" value="F5: 1691 GA")
										span.radio-text F5: 1691 GA
									label(for="gestation-check-17").radio
										input(type="checkbox" id="gestation-check-17" name="gestation-name-3" value="F5: 1691 АA")
										span.radio-text F5: 1691 АA
									label(for="gestation-check-18").radio
										input(type="checkbox" id="gestation-check-18" name="gestation-name-3" value="F2: 20210 GA")
										span.radio-text F2: 20210 GA
									label(for="gestation-check-19").radio
										input(type="checkbox" id="gestation-check-19" name="gestation-name-3" value="F2: 20210 АA")
										span.radio-text F2: 20210 АA
								.button.main-button#btn-next4 Далее


				//-Оценка риска ВТЭО
				.popup#risk-popup
					.popup__wrapper
						h2.title Оценка риска ВТЭО
						.popup__inner
							form(action="get")
								p.popup__row
									label(for="gestation-check-20").radio
										input(type="checkbox" id="gestation-check-20" name="gestation-name-4" value="текст1")
										span.radio-text Длительный прием антикоагулянтов, используемый до беременности для постоянных показаний 
									label(for="gestation-check-21").radio
										input(type="checkbox" id="gestation-check-21" name="gestation-name-4" value="текст2")
										span.radio-text Предшествующие рецидивирующие ВТЭО 
									label(for="gestation-check-22").radio
										input(type="checkbox" id="gestation-check-22" name="gestation-name-4" value="текст3")
										span.radio-text Предшествующее ВТЭО в сочетании с тромбофилией высокого риска (дефицит антитромбина, АФС ), без лечения антикоагулянтами до беременности
									label(for="gestation-check-23").radio
										input(type="checkbox" id="gestation-check-23" name="gestation-name-4" value="текст4")
										span.radio-text Предшествующие ВТЭО, ничем не спровоцированные или связанные с приемом эстрогенов или  беременностью
									label(for="gestation-check-24").radio
										input(type="checkbox" id="gestation-check-24" name="gestation-name-4" value="текст5")
										span.radio-text Предшествующие спровоцированные ВТЭО в сочетании с тромбофилией низкого риска
									label(for="gestation-check-25").radio
										input(type="checkbox" id="gestation-check-25" name="gestation-name-4" value="текст6")
										span.radio-text Бессимптомные тромбофилии омозиготы по фактору V Лейдена 
									label(for="gestation-check-26").radio
										input(type="checkbox" id="gestation-check-26" name="gestation-name-4" value="текст7")
										span.radio-text Гомозиготы по протромбину G20210A 
									label(for="gestation-check-27").radio
										input(type="checkbox" id="gestation-check-27" name="gestation-name-4" value="текст8")
										span.radio-text Дефицит антитромбина 
									label(for="gestation-check-28").radio
										input(type="checkbox" id="gestation-check-28" name="gestation-name-4" value="текст9")
										span.radio-text Строгий постельный режим 7 и более дней у женщин с ИМТ >25 кг/м2 
									label(for="gestation-check-29").radio
										input(type="checkbox" id="gestation-check-29" name="gestation-name-4" value="текст10")
										span.radio-text Неакушерское хирургическое вмешательство во время беременности 
								p.popup__row
									span.label--strong 
										b Профилактические дозы НМГ в течение всей беременности и 6 нед. после родов 
									input(type="text" placeholder="1")
								p.popup__row
									span.label--strong
										b Профилактические дозы НМГ в течение всей беременности и 6 нед. после родов 
									input(type="text" placeholder="≥2")
								.button.main-button#btn-next5 Далее

		include modules/script.pug