doctype html
html(lang="ru-RU")
	head
		include modules/head.pug
	body
		.authorization

			.authorization__block
				h2.title Вход
				form(action="get")
					.authorization__inputs
						label(for="") 
							span Логин
							input(type="text")
						label(for="") 
							span Пароль
							input(type="password")
					.authorization__remember
						input(type="checkbox" id="remember")
						label(for="remember")
							span Запомнить меня
						span.recovery-pas Забыли пароль?
					.authorization__btn
						input.main-button(type="submit" value="Войти")
				.authorization__registration
					span Вы еще не зарегистрированы?
					a(href="#") Зарегистрироваться


		include modules/script.pug
