doctype html
html(lang="ru-RU")
	head
		include modules/head.pug
	body
		header.main-header
			.main-header__logo
				a(href="#")
					<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="10" width="6" height="25" fill="white"/>
						<rect y="15" width="6" height="25" transform="rotate(-90 0 15)" fill="white"/>
					</svg>
					span Медицина
			nav.main-nav
				ul.main-nav__list
					li
						a(href="#") Анкета
					li
						a(href="#") Отчеты
					li
						a(href="#") Сервис
					li
						a(href="#") Помощь
				.main-nav__search
					input(type="text" name="search" placeholder="Search for a mail")

				.main-nav__avatar.avatar
					.avatar__name
						span.avatar__title Иванович М.С.
						span.avatar__subtitle Врач-терапевт
					.avatar__picture
						img(src="" alt="")
		main
			aside.sidebar
				.sidebar__nav
					ul.sidebar__list
						li
							a(href="#") Пациенты
						li
							a(href="#") Больницы
						li
							a(href="#") Консультация
						li
							a(href="#") Календарь
						li
							a(href="#") Сообщение
			.sidebar__show(hidden).active
				.picture
					img(src="images/open-bar.svg" alt="")


			.content-wrapper
				//- tabs
				.tabs
					//- tabs__caption
					ul.content-wrapper__nav.tabs__caption
						li.active Новые
						li История
						//- tabs_content
						.content-wrapper__select
							select
								option(value="value1") Курская
								option(value="value1") Обоянская
								option(value="value1") Белгородская
					.table-wrapper.table-pacients.tabs__content.active
						table
							thead
								tr
									th №
									th ФИО
									th Больницы
									th.vertical Возраст
									th.vertical Недель
									th Диагноз
									th Показатели
							tr.zapredel
								td 1
								td.mode.strong Иванов И.И.
								td Курская городская больница №6
								td 25
								td 1
								td Сахарный диабет
								td Антитела к β2 гликопротеину
							tr.nowork
								td 2
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 21
								td 8
								td АД
								td D-димер
							tr
								td 3
								td.mode.strong Иванова И. И.
								td Курская городская больница №6
								td 40
								td 10
								td АГ
								td 
							tr
								td 4
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 20
								td 5
								td Эндокринопатия
								td Антитела к β2 гликопротеину 
							tr
								td 5
								td.mode.strong Иванова И. И.
								td Курская городская больница №6
								td 18
								td 7
								td АД
								td D-димер
							tr
								td 6
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 29
								td 8
								td АГ
								td Антитела к β2 гликопротеину 
							tr
								td 7
								td.mode.strong Иванова И. И.
								td Курская городская больница №6
								td 29
								td 8
								td АГ
								td D-димер
							tr
								td 8
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 29
								td 8
								td АД
								td Антитела к β2 гликопротеину 
							tr
								td 1
								td.mode.strong Иванов И.И.
								td Курская городская больница №6
								td 25
								td 1
								td Сахарный диабет
								td Антитела к β2 гликопротеину
							tr
								td 2
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 21
								td 8
								td АД
								td D-димер
							tr
								td 3
								td.mode.strong Иванова И. И.
								td Курская городская больница №6
								td 40
								td 10
								td АГ
								td 
							tr
								td 4
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 20
								td 5
								td Эндокринопатия
								td Антитела к β2 гликопротеину 
							tr
								td 5
								td.mode.strong Иванова И. И.
								td Курская городская больница №6
								td 18
								td 7
								td АД
								td D-димер
							tr
								td 6
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 29
								td 8
								td АГ
								td Антитела к β2 гликопротеину 
							tr
								td 7
								td.mode.strong Иванова И. И.
								td Курская городская больница №6
								td 29
								td 8
								td АГ
								td D-димер
							tr
								td 8
								td.mode.strong Петрова А. В.
								td Курская городская больница №6
								td 29
								td 8
								td АД
								td Антитела к β2 гликопротеину /main.js")

				include modules/pagination.pug

		include modules/script.pug