doctype html
html(lang="ru-RU")
    head
        include modules/head.pug
    body
        main
            .pacient-wrapper
                //- pacient-aside
                .pacient-aside
                    //- logo
                    .main-header__logo
                        a(href="#")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="10" width="6" height="25" fill="white"/>
                                <rect y="15" width="6" height="25" transform="rotate(-90 0 15)" fill="white"/>
                            </svg>
                            span Медицина
                    .pacient-aside__info
                        .pacient-aside__picture
                            img(src="" alt="")
                        .pacient-aside__name
                            span Иванова М.С.
                    nav.pacient-aside__nav
                        ul
                            li
                                a(href="pacient-main.html") Главная
                            li
                                a(href="pacient-appaintment.html") Назначение
                            li.active
                                a Обследование
                            li
                                a(href="pacient-forum.html") Форум
                            li
                                a(href="pacient-calendar.html") Календарь
                            li
                                a(href="pacient-information.html") Информация
                .pacient-content.pacient-content--mode
                    .pacient-content__header
                        .pacient-content__header-col
                            .pacient-content__title-name Обследование
                        .pacient-content__header-col.pacient-content__header-col--mode
                            a.second-button.second-button--green Посмотреть показатели
                            a.main-button.main-button--green Внести показатели
                    .examination-wrapper
                        .examination
                            //- examination__item-chart
                            .examination__item.examination__chart
                                h3 Динамика анализов D-димер
                                select
                                    option За неделю
                                    option За неделю
                                    option За неделю
                                    option За неделю
                                #myfirstchart(style="height: 250px;")

                            //- examination__item
                            .examination__item
                                .examination__head
                                    p.date 30.04.2020
                                    p.date-second 12.08.2019
                                .examination__content
                                    p Показатели коагулограммы 
                                    p.strong.indicators АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 
                                    p D-димер <span class="strong">845 нг/мл</span>  
                            //- examination__item
                            .examination__item
                                .examination__head
                                    p.date 30.04.2020
                                    p.date-second 12.08.2019
                                .examination__content
                                    p Показатели коагулограммы 
                                    p.strong.indicators АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 
                                    p D-димер <span class="strong">845 нг/мл</span>  
                            //- examination__item
                            .examination__item
                                .examination__head
                                    p.date 30.04.2020
                                    p.date-second 12.08.2019
                                .examination__content
                                    p Показатели коагулограммы 
                                    p.strong.indicators АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 
                                    p D-димер <span class="strong">845 нг/мл</span>  
                            //- examination__item
                            .examination__item
                                .examination__head
                                    p.date 30.04.2020
                                    p.date-second 12.08.2019
                                .examination__content
                                    p Показатели коагулограммы 
                                    p.strong.indicators АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 
                                    p D-димер <span class="strong">845 нг/мл</span>  
                            //- examination__item
                            .examination__item
                                .examination__head
                                    p.date 30.04.2020
                                    p.date-second 12.08.2019
                                .examination__content
                                    p Показатели коагулограммы 
                                    p.strong.indicators АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 
                                    p D-димер <span class="strong">845 нг/мл</span> 


                include modules/pacient-footer.pug

        include modules/script.pug