doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="minimum-scale=1.0, target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title title here
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="css/datepicker.min.css")
    body
        main
            .pacient-wrapper
                //- pacient-aside
                .pacient-aside
                    //- logo
                    .main-header__logo
                        a(href="#")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="10" width="6" height="25" fill="white"/>
                                <rect y="15" width="6" height="25" transform="rotate(-90 0 15)" fill="white"/>
                            </svg>
                            span Медицина
                    .pacient-aside__info
                        .pacient-aside__picture
                            img(src="" alt="")
                        .pacient-aside__name
                            span Иванова М.С.
                    nav.pacient-aside__nav
                        ul
                            li
                                a(href="pacient-main.html") Главная
                            li.active
                                a Назначение
                            li
                                a(href="pacient-examination.html") Обследование
                            li
                                a(href="pacient-forum.html") Форум
                            li
                                a(href="pacient-calendar.html") Календарь
                            li
                                a(href="pacient-information.html") Информация
                .pacient-content
                    .pacient-content__header
                        .pacient-content__header-col
                            .pacient-content__title-name Назначение
                    //- tabs
                    .tabs
                        //- tabs__caption
                        ul.content-wrapper__nav.tabs__caption
                            li.active Новые
                            li История
                        //- tabs_content
                        .appaintment-new.tabs__content.active
                            .appaintment
                                .appaintment__item
                                    span.appaintment__label Врач Иванов И.И.
                                    .appaintment__title
                                        h3 <span class="strong"> С 30.04.2020</span> Вам рекомендовано
                                    .appaintment__content
                                        ul
                                            li
                                                p лечение оставить без изменений
                                            li
                                                span сдать анализы
                                                p Через 2 недели повторно определить уровень антител к β2-гликопротеину
                                            li
                                                span консультации
                                                p осмотр гематолога
                        //- tabs_content
                        .appaintment-history.tabs__content
                            .appaintment
                                .appaintment__item.appaintment__item--mode
                                    span.appaintment__label Врач Иванов И.И.
                                    .appaintment__title
                                        h3 <span class="strong"> С 30.04.2020</span> Вам рекомендовано
                                    .appaintment__content
                                        ul
                                            li
                                                p лечение оставить без изменений
                                            li
                                                span сдать анализы
                                                p Через 2 недели повторно определить уровень антител к β2-гликопротеину
                                            li
                                                span консультации
                                                p осмотр гематолога
                                .appaintment__item.appaintment__item--mode
                                    span.appaintment__label Врач Иванов И.И.
                                    .appaintment__title
                                        h3 <span class="strong"> С 30.04.2020</span> Вам рекомендовано
                                    .appaintment__content
                                        ul
                                            li
                                                p лечение оставить без изменений
                                            li
                                                span сдать анализы
                                                p Через 2 недели повторно определить уровень антител к β2-гликопротеину
                                            li
                                                span консультации
                                                p осмотр гематолога
                                .appaintment__item.appaintment__item--mode
                                    span.appaintment__label Врач Иванов И.И.
                                    .appaintment__title
                                        h3 <span class="strong"> С 30.04.2020</span> Вам рекомендовано
                                    .appaintment__content
                                        ul
                                            li
                                                p лечение оставить без изменений
                                            li
                                                span сдать анализы
                                                p Через 2 недели повторно определить уровень антител к β2-гликопротеину
                                            li
                                                span консультации
                                                p осмотр гематолога

                include modules/pacient-footer.pug

    script(src="js/jquery-3.4.1.min.js")
    script(src="js/datepicker.min.js")
    script(src="js/main.js")